ColumnLimit: 80

BreakBeforeBraces: Allman

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left
QualifierAlignment: Right
AlignEscapedNewlines: DontAlign

# vim: set ft=yaml
